language: python

os:
  - linux

branches:
  only:
    - master
    - /^(dev)|(dev_.*)$/

python:
  - "3.5"
  - "3.6"
  - "3.7"
  - "3.8"
  - "3.9"
  - "3.10"

install:
  - pip install -r requirements.txt

script:
  - python -m pytest -v --ignore=tests/gui/
